/* General Styling */
root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sans-serif {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}
.serif {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border-radius {
  border-radius: 16px;
}

.primary-text-color {
  color: #495e57;
}

.black-text-color {
  color: #000;
}

.white-text-color {
  color: #fff;
}

.primary-bg-color {
  background-color: #495e57;
}

.secondary-text-color {
  color: #f5c413;
}

.secondary-bg-color {
  background-color: #f5c413;
}

.terciary-text-color {
  color: #ee9972;
}

.terciary-bg-color {
  background-color: #ee9972;
}

.icon {
  width: 24px;
  height: 24px;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.space-40 {
  margin-top: 40px;
}

.error {
  background-color: #ee9972;
  padding: 10px;
  border-radius: 8px;
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

body {
  font-family: "Karla", sans-serif;
  color: #333;
  line-height: 1.6;
  letter-spacing: -0.08em;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.full-width {
  width: 100%;
}

.space-between {
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  max-width: 240px;
  min-width: 180px;
  min-height: 50px;
  max-height: 50px;
  font-size: 1rem;
}

.btn span {
  line-height: 1rem;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn.center {
  display: block;
  margin: 20px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 40px;
}

/* Header Styling */
header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 200px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav li {
  margin-left: 30px;
}

header nav li a:hover {
  color: #ee9972;
}

header .cart img {
  margin-top: 4px;
}

/* Hero Section Styling */
.hero {
  background-image: url("../public/img/hero-bg.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero .container {
  display: flex;
  flex-direction: row;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 40px;
}

.hero .hero-image {
  margin-bottom: -8px;
}

.hero h1 {
  font-size: 5rem;
  margin: 0px;
  line-height: 48px;
  font-weight: 500;
}

.hero h2 {
  font-size: 2rem;
  margin: 0px;
  line-height: 48px;
  color: #fbdabb;
}

.hero .description {
  font-size: 1.5rem;
  max-width: 350px;
}

/* Specials Section Styling */
.specials {
  padding: 80px 0;
  text-align: center;
}

.specials-header {
  margin-bottom: 40px;
}

.specials h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  text-align: left;
  max-width: 260px;
  overflow: hidden;
}

.card .card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.6rem;
  padding-left: 20px;
}

.card p {
  padding: 10px 20px;
  min-height: 150px;
}

.card .price {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 20px;
}

/* Testimonials Section Styling */
.testimonials {
  background-color: #fdd835;
  padding: 80px 0;
}

.testimonials h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0 0 40px 0;
}

.testimonial {
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.1);
}

.testimonial .avatar {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px;
}

.testimonials p {
  margin-top: 10px;
  color: #fff;
}

.rating {
  margin-bottom: 10px;
}

.rating img {
  width: 20px;
  height: 20px;
}

.rating span {
  font-size: 1.1rem;
  color: #fdd835;
  margin-left: 4px;
  font-weight: bold;
  margin-top: 2px;
}

.testimonial h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 10px;
  color: #fff;
}

/* About Section Styling */
.about {
  padding: 80px 0;
}

.about h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.about h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1rem;
  line-height: 1.6rem;
  padding-right: 20px;
}

.about img {
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: -40px;
}

/* Footer Styling */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-links {
  display: flex;
  gap: 40px;
}

footer .logo {
  margin-bottom: 20px;
  width: 200px;
  margin-right: 40px;
}

footer h3 {
  font-size: 1.8rem;
}

footer ul {
  list-style: none;
}

footer li a {
  margin-bottom: 10px;
  color: #ee9972;
}

footer li a:hover {
  color: #f4ce14;
}

footer .social-media ul {
  display: flex;
}

footer .social-media li {
  margin-right: 20px;
}

footer .footer-row {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-top: 40px;
  font-size: 0.9rem;
}

.reservation {
  padding: 80px 0;
}

.reservation input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.reservation h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0 0 40px 0;
}

.reservation h2 {
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 0 0 40px 0;
  color: #3eb747;
}

.reservation h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.reservation p {
  font-size: 1.3rem;
  line-height: 2rem;
}
